extends ../layouts/default

block main
  h2 #{channel+' '+from+' to '+to}

block content
  each log in logs
    div(class='#{log._type}', data-timestamp='#{log.timestamp_unix}') !{log.timestamp_markdown} !{log.irssi_markdown} 
